body {
    font-family: Arial, Veranda;
    background-color:  #000000;
    color: #ffffff;
    margin: 20px 20px 0px 20px;
}

h1 {
    font-size: 42px;
    text-align: center;
    padding: 15px;
}

h2 {
    font-size: 30px;
    color: #0D0D0D
}

p {
    font-size: 24px;
    padding: 10px 0px 0px 10px;
}

img {
    width: 250px;
    display: block;
    margin: 0 auto;
    border: 10px dashed #ffffff;
}

div {
    min-height: 200px;
    padding: 20px;
    border: 2px solid #ffffff;
}

.introduction {
    border-radius: 15px;
    margin-top: 15px;
    line-height: 2;
}

.yellow {
    background-color: #fff700;
    text-align: right;
    margin-left: 50px;
    border: none; 
    border-right: 5px solid #ffffff;
    border-top: 2px solid #ffffff;
    border-left: 0;
    border-bottom: 0;
}

.red {
    background-color: #ff0000;
    text-align: right;
    margin-left: 50px;
    border: none;
    border-bottom: 2px solid #ffffff;
    border-left: 5px solid #ffffff;
    border-top: 0;
    border-right: 0;
}

.blue {
    background-color: #0000ff;
    text-align: left;
    margin-right: 50px;
    border: none;
    border-right: 5px solid #ffffff;
    border-top: 2px solid #ffffff;
    border-left: 0;
    border-bottom: 0;
}

.blue h1, .blue h2, .blue p {
    color: #c4c4c4
}

.yellow p {
    color: #707070
}

.green {
    background-color: #008500;
    text-align: left;
    margin-right: 50px;
}

footer {
    border: 5px solid #ffffff
}

footer p {
    font-size: 20px;
    text-align: right;
    padding: 15px 15px 15px 0;
}

